.service{
    background-color: rgb(4, 0, 255);
    color: rgb(226, 43, 83);
    font-size: 30px;
}

.button{
 color: rgb(8, 11, 197);
 background-color: rgb(21, 255, 0);
 border: 2px solid red;
 border-radius: 10px;
}

.button:hover{
    box-shadow: 2px 2px 0 0 green;
    transition: 1s ease-out;
}